@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6DEC8;
  --foreground: #171717;
  --icon-color: #494444;
}

body {
  color: var(--foreground, #8A7D7D);
  background: var(--background, #F6DEC8);
  font-family: Arial, Helvetica, sans-serif;
}
